body {
	font-family: Open Sans, sans-serif;
	background: #222;
}

.main-wrapper {
	width: 960px;
	text-align: center;
	margin: 5em auto;
}

.main-wrapper canvas {
	width: 100%;
	height: auto;
}

@media (max-width:960px) {
	.main-wrapper {
		width: 100%;
	}
}