body {
	font-family: Open Sans, sans-serif;
	background: #222;
}

.main-wrapper {
	width: 960px;
	text-align: center;
	margin: 0 auto;
}

.main-wrapper canvas {
	width: 100%;
	height: auto;
}

h1 {
	color: #eee;
	font-size: 3em;
}

@media (max-width:960px) {
	.main-wrapper {
		width: 100%;
	}

	h1 {
		font-size: 1.5em;
	}
}